{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {%block title%}base template {%endblock%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible">
        <meta name="Description" content="video confrencing application built by zedtek">
        <link rel="stylesheet" href="../../static/videobackend/css/index.css" type="text/css">
        <link rel="stylesheet" href="../../static/videobackend/css/helper.css">
        <link rel="icon" href="../../static/videobackend/img/Video_conf_img.jpg" type="image/*">
    </head>
    <body>
        <header class="header">
            <img src="../../static/videobackend/img/Video_conf_img.jpg" alt="Logo" id="logo">
            <nav class="nav">
                <ul class="nav-ul">
                    {%block dashboard%}<li><a href="{%url 'dashboard'%}">Dashboard</a> <hr></li>{%endblock%}
                    {%block meeting%}<li><a href="{%url 'meeting room'%}">Meeting Room</a><hr></li>{%endblock%}
                    {%block signup%}<li><a href="{%url 'backend signup'%}">Sign Up</a><hr></li>{%endblock%}
                    {%block login%}<li><a href="{%url 'home page'%}">Login</a><hr></li>{%endblock%}
                    {%block logout%}<li><a href="{%url 'logout'%}">Log out</a><hr></li>{%endblock%}
                    {%block mobile-settings%}<li><a href="{%url 'profile settings'%}">Settings</a></li>{%endblock%} <!-- display settings on dashboard and rooms only-->
                    {%if user != 'AnonymousUser'%}<div class="user-name">{%block user%} {%endblock%}</div>{%endif%}
                </ul>
            </nav>
            <!-- mobile nav -->
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav class="mobile-nav">
                <ul class="mobile-nav-ul">
                    <li><a href=""> Home</a></li>
                    <li><a href="{%url 'dashboard'%}">Dashboard</a></li>
                    <li><a href="{%url 'meeting room'%}">Meeting Room</a></li>
                    {%block settings%}<li><a href="{%url 'profile settings'%}">Settings</a></li>{%endblock%}
                </ul>
            </nav>
        </header>
        <div class="body-contents">
            {%block content%}
            <!-- custom contents -->
            {%endblock%}
        </div>
    </body>
    <footer>
        <div class="footer-cont">
            <p id="c-right">Copyright <i class="fa-solid fa-copyright"></i> 2022</p>
        </div>
        <!-- <script src="{%static 'js/index.js'%}"></script>
        <script src="{%static 'js/helper.js'%}"></script> -->
        <script src="{%static 'js/build/bundledIndex.js'%}"></script>
        <script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>
        {%block script%}<!-- for custom scripts in any page-->{%endblock%}
    </footer>
</html>