{%extends 'base.html'%}
{%block title%} Dashboard {%endblock%}
{%load static%}
{%block login%}{%endblock%}
{%block signup%}{%endblock%}
{%block user%}{{user}}{%endblock%}


{%block content%}
    <div class="dashboard-cont">
        <!-- flash msgs -->
        {%if msgs%}
            {%for msg in msgs%}
                <div class="msg {%if msg.tags%} {{msg.tags}}{%endif%}" title="my username">{{msg}}</div>
            {%endfor%}
        {%endif%}
        <!-- meeting sector starts here -->
        <div class="meeting-sector absolute">
            <h2 id="meeting-info">Meeting Info:</h2><!--upcoming header-->
            <div class="up-coming-sect secs">
                <h5 class="upcoming">Upcoming Meetings:</5>
                <ul class="upcoming-list meeting-list">
                    {%if current%}
                        {%for meeting in current%}
                            <li id="meeting">
                                <h6 id="meeting-title">Title: {{meeting.title}}</h6>
                                <p id="host">Host: {%if meeting.host == request.user%} Me {%else%}{{meeting.host}}{%endif%}</p>
                                <p id="date">Starting by: {{meeting.starting}}</p>
                            </li>
                            <!-- prompts when clicked, confirming whether to start or delete meeting from dashboard -->
                            <div class="meeting-action-prompts">
                                <p id="like-to-do">What would you like to do?</p>
                                <form action="" method="post" id="m-action-form">
                                    {%if meeting.host == user%}<input type="button" value="start meeting?" name="start-meeting" class="meeting-choice">
                                    {%else%}<input type="button" value="join meeting" name="join-meeting" class="meeting-choice">{%endif%}
                                    <input type="button" value="delete this meeting" name="delete-meeting" class="meeting-choice">
                                    <input type="hidden" value="{{meeting.meeting_id}}" name="meeting-id">
                                </form>
                            </div>
                        {%endfor%}
                    {%else%} <p id="no-meeting">You have no scheduled or upcoming meetings</p>
                    {%endif%}
                </ul>
            </div>
            <!-- recent meeting sector -->
            <div class="recent-sect secs">
                <h5 class="upcoming">Recent Meetings:</5>
                <ul class="recent-list meeting-list">
                    {%for meeting in recent%}
                        <li id="meeting">
                            <h6 id="meeting-title">Title: {{meeting.title}}</h6>
                            <p id="host">Host: {%if meeting.host == request.user%} Me {%else%}{{meeting.host}}{%endif%}</p>
                            <p id="date">Ended on: {{meeting.starting}}</p>
                        </li>
                        <!-- prompts when clicked, confirming whether to start or delete meeting from dashboard -->
                        <div class="meeting-action-prompts">
                            <p id="like-to-do">What would you like to do?</p>
                            <form action="" method="post" id="m-action-form">
                                <input type="button" value="delete this meeting" name="delete-meeting" class="meeting-choice delete-meeting">
                                <input type="hidden" value="{{meeting.meeting_id}}" name="meeting-id">
                            </form>
                        </div>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <!-- profile info and starting/ending meeting sector -->
        <div class="profile-info">
            <img src="{{user.profile_picture.url}}" alt="profile-picture" id="profile-pic" class="bdr-50">
            <h2 id="username">{{user.username}}</h2>
            <div class="action-cont">
                <input type="button" name="start" value="Schedule a meeting">
                <input type="button" name="start" value="Join a meeting">
            </div>
        </div>
    </div>
{%endblock%}