{%extends 'base.html'%}
{%block title%} Dashboard {%endblock%}
{%load static%}
{%block login%}{%endblock%}
{%block signup%}{%endblock%}
{%block user%}{{user}}{%endblock%}
{%block meeting%}{%endblock%}


{%block content%}
    <div class="dashboard-cont">
        <!-- flash msgs -->
        {%if msgs%}
            {%for msg in msgs%}
                <div class="msg {%if msg.tags%} {{msg.tags}}{%endif%} flash" title="my username">{{msg}}<i class="fa-solid fa-xmark rmv-flash"></i></div>
            {%endfor%}
        {%endif%}
        <div class="json-msgs hidden-msgs"></div><!--to be used by javascript frontend for flash messages-->
        <!-- meeting sector starts here -->
        <div class="meeting-sector absolute">
            <h2 id="meeting-info">Meeting Info:</h2><!--upcoming header-->
            <div class="up-coming-sect secs">
                <h5 class="upcoming">Upcoming Meetings:</5>
                <ul class="upcoming-list meeting-list">
                    {%if current%}
                        {%for meeting in current%}
                            <li id="meeting">
                                <h6 id="meeting-title">Title: {{meeting.title}}</h6>
                                <p id="host">Host: {%if meeting.host == request.user%} Me {%else%}{{meeting.host}}{%endif%}</p>
                                <p id="date">Starting by: {{meeting.starting}}</p>
                            </li>
                            <!-- prompts when clicked, confirming whether to start or delete meeting from dashboard -->
                            <div class="meeting-action-prompts">
                                <p id="like-to-do">What would you like to do?<i class="fa-solid fa-xmark"></i></p>
                                <div id="m-action-form">
                                    <!-- checks if the user is the meeting scheduler, to decide meeting actions to display -->
                                    {%if meeting.host == user%}<input type="button" value="start meeting?" name="start-meeting" class="meeting-choice">
                                    <input type="button" value="delete this meeting" name="delete-meeting" class="meeting-choice delete-meeting">
                                    {%else%}<input type="button" value="join meeting" name="join-meeting" class="meeting-choice">{%endif%}
                                    <input type="hidden" value="{{meeting.meeting_id}}" name="meeting-id">
                                </div>
                                <!-- meeting credentials(Ip address and port) -->
                                <div class="meeting-credential">
                                    <p id="meeting-id-info">Meeting ID: <h2 id="id-value" title="Copy this ID directly">{{meeting.meeting_id}}</h2></p>
                                    <p id="meeting-pass-info">Meeting Pass: <h2 id="pass-value" title="Copy this password directly">{{meeting.password}}</h2></p>
                                </div>
                            </div>
                        {%endfor%}
                    {%else%} <p id="no-meeting">You have no scheduled or upcoming meetings</p>
                    {%endif%}
                </ul>
            </div>
            <!-- recent meeting sector -->
            <div class="recent-sect secs">
                <h5 class="upcoming">Recent Meetings:</5>
                <ul class="recent-list meeting-list">
                    {%for meeting in recent%}
                        <li id="meeting">
                            <h6 id="meeting-title">Title: {{meeting.title}}</h6>
                            <p id="host">Host: {%if meeting.host == request.user%} Me {%else%}{{meeting.host}}{%endif%}</p>
                            <p id="date">Ended since {{meeting.starting|timesince}} ago</p>
                        </li>
                        <!-- prompts when clicked, confirming whether to start or delete meeting from dashboard -->
                        <div class="meeting-action-prompts">
                            <p id="like-to-do">What would you like to do?<i class="fa-solid fa-xmark"></i></p>
                            <div id="m-action-form">
                                <input type="button" value="delete this meeting" name="delete-meeting" class="meeting-choice delete-meeting">
                                <input type="hidden" value="{{meeting.meeting_id}}" name="meeting-id">
                            </div>
                        </div>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <!-- profile info and starting/ending meeting sector -->
        <div class="profile-info">
            <img src="{{user.profile_picture.url}}" alt="profile-picture" id="profile-pic" class="bdr-50">
            <h2 id="username">{{user.username}}</h2>
            <div class="action-cont">
                <input type="button" name="start" value="Schedule a meeting">
                <input type="button" name="join" value="Join a meeting">
            </div>
        </div>
        <!-- meeting schedule form sector -->
        <div class="schedule-meeting absolute">
            <p id="schedule-headline">Schedule your meeting below.</p>
            <form id="meeting-schedule-form" action="{%url 'new meeting'%}">
                <label for="Meeting Title">
                    Title: <input type="text" name="meeting-title" required>
                </label>
                <label for="Meeting Date">
                   Startng Date: <input type="datetime-local" name="meeting-starting-date" required>
                </label>
                <label for="Meeting Date">
                   Ending Date: <input type="datetime-local" name="meeting-ending-date" required>
                </label>
                <label for="Meeting Pass">
                    Password: <input type="text" name="meeting-pass" required>
                </label>
                <button type="submit" class="schedule-btn">Schedule Now</button>
            </form>
        </div>
    </div>
{%endblock%}