{%extends 'base.html'%}
{%load static%}
{%block settings%}{%endblock%}
{%block mobile-settings%}{%endblock%}
{%block logout%}{%endblock%}
{%block dashboard%}{%endblock%}
{%block meeting%}{%endblock%}
{%block login%}{%endblock%}

{%block content%}
<div class="login-div">
    {%if msgs%}
        {%for msg in msgs%}
            <div class="msg{%if msg.tags%} {{msg.tags}}{%endif%}">{{msg}}</div>
        {%endfor%}
    {%endif%}
    <p id="login-hi">Hi</p>
    <form action="" method="post">
        <div class="opac-bg"></div>
        {%csrf_token%}
        <label for="Email">
            Email: <input type="email" inputmode="email" name="email">
        </label>

        <label for="Password">
            Password: <input type="password" inputmode="password" name="password" autocomplete="none">
        </label>
        <button type="submit" id="login-btn">Login in</button>
    </form>
</div>
{%endblock%}