{%extends 'base.html'%}
{%load static%}
{%block title%}Join Meeting{%endblock%}
{%block user%}{%endblock%}
{%block signup%}{%endblock%}
{%block login%}{%endblock%}
{%block meeting%}{%endblock%}

<!-- custom content here -->
{%block content%}
    <div class="meeting-cred-cont">
        <div class="json-msgs hidden-msgs"></div><!--message from frontend-->
        <!-- to collect the id and password of the intended meeting -->
        <div class="meeting-credentials">
            <label for="Meeting Id" id="m-id" class="join-meeting-cred">
                Meeting ID: <input type="text" name="join-meeting-id" placeholder="Type in the id of the meeting you want to join." id="join-meeting-id">
            </label>
            <label for="Meeting pass" id="m-pass" class="join-meeting-cred">
                Meeting Password: <input type="password" name="join-meeting-pass" placeholder="The meeting password should go here." id="join-meeting-pass">
            </label>
            <button type="submit" name="join-meeting-btn" id="join-meeting-btn">Join</button>
        </div>
    </div>
{%endblock%}