{%extends 'base.html'%}
{%load static%}
{%block title%} Meeting Room {%endblock%}
{%block signup%}{%endblock%}
{%block login%}{%endblock%}
{%block user%}{{user}}{%endblock%}
{%block meeting%}{%endblock%}

{%block content%}
    <div class="metting-room-cont">
        <div class="json-msgs hidden-msgs"></div><!--message from frontend-->
        <video id="user-vid" autoplay style="margin-top: 55%; border:solid 2px yellowgreen;">
            
        </video>
        <button id="toggle-display">Turn Camera off</button>
        <script src="{%static 'js/peercon_and_signal.js'%}"></script><!--just to test the websock conn.-->
    </div>
{%endblock%}