{%extends 'base.html'%}
{%load static%}
{%block title%} Meeting Room {%endblock%}
{%block signup%}{%endblock%}
{%block login%}{%endblock%}
{%block user%}{{user}}{%endblock%}
{%block meeting%}{%endblock%}

{%block content%}
    <div class="meeting-room-cont">
        <div class="json-msgs hidden-msgs"></div><!--message from frontend-->
        <!-- <div id="host-status" style="display: none;">
            {{host_status}}
        </div> -->

        <div class="videoDispCont">
            <!-- holds all the video elements for each connected user -->
        </div>
    </div>
    {%block script%} <script src="{%static 'js/peercon_and_signal.js'%}"></script>{%endblock%}
{%endblock%}