{%extends 'base.html'%}
{%load static%}
{%block settings%}{%endblock%}
{%block mobile-settings%}{%endblock%}
{%block signup%}{%endblock%}
{%block logout%}{%endblock%}
{%block dashboard%}{%endblock%}
{%block meeting%}{%endblock%}

{%block content%}
<div class="login-div signup-div">
    {%if msgs%}
        {%for msg in msgs%}
            <div class="msg{%if msg.tags%} {{msg.tags}}{%endif%}">{{msg}}</div>
        {%endfor%}
    {%endif%}
    <p id="login-hi">Hi</p>
    <form action="" method="post">
        <div class="opac-bg"></div>
        {%csrf_token%}
        <label for="Email">
            Email: <input type="email" inputmode="email" name="email" placeholder="your name, e.g: Jack">
        </label>

        <label for="surname">
            Surname: <input type="text" inputmode="text" name="surname" placeholder="your surname after your name, e.g: Sparrow">
        </label>

        <label for="username">
            Username: <input type="text" inputmode="text" name="username">
        </label>
        
        <label for="Password">
            Password: <input type="password" inputmode="password" name="password1" autocomplete="none">
            <p id="pass-hint">
                <ul id="pass-hint-ul">
                    <li>your password must contain at least 6 characters</li>
                    <li>your password must not be an easy to get, like: 123456</li>
                    <li>your password must contain at least 1 special character, like: @</li>
                    <li>your password must have at least 1 uppercased letter</li>
                </ul>
            </p>
        </label>

        <label for="Password">
            Re-type Password: <input type="password" inputmode="password" name="password2" placeholder="same as the one above" autocomplete="none">
        </label>
        <button type="submit" id="signup-btn">Sign up</button>
    </form>
</div>
{%endblock%}