*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


@font-face {
    font-family: 'Monserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}


/* html element itself */
html{
    width: 100%;
    height: 100%;
}


/* header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 100%;
    height:20%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color:black;
    color:white;
    z-index: 500;
}

#logo{
    width: 5%;
    height: 77%;
    border-radius: 50%;
    border:solid 1px;
}

.nav, .nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-ul >li, .mobile-nav-ul >li{
    margin: 8px;
}

.nav-ul li >a{
    text-decoration: none;
    color:white;
    transition: all 0.3s linear;
}
.user-name{
    background-color: yellowgreen;
    color: black;
    border: solid 2px white;
    border-radius: 15px;
    padding: 5px;
    justify-self: flex-end;
    margin-left:10px;
}
/* mobile navs */
.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.hamburger >div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 1px;
}

.mobile-nav{/*parent cont for mobile ul*/
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom: -50%;
    transition: all 0.3s ease-in-out;
}

.m-nav{/*what to toggle when the hamburger is clicked*/
    left: 30%;
}

.mobile-nav-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellowgreen;
    list-style: none;    
}

.mobile-nav-ul li > a{
    color: black;
    text-decoration: none;
    transition: all 0.3s linear;
}
/*hover for large and mobile navs*/
.nav-ul li>a:hover{
    background-color: yellowgreen;
    color: black;
    border: solid 2px white;
    border-radius: 15px;
    padding: 5px;
}
.nav-ul li > a~hr{/*trying to animate the horizontals below each link*/
    display: none;
}
.nav-ul li > a~hr:hover{
    display: inline;
    animation: nav-animation .5s ease-in ;

}
.mobile-nav-ul li > a:hover{
    background-color: black;
    color:white;
    border: solid 2px;
    border-radius: 15px;
    padding: 5px;
}


/* the container after the header in base.html, where other things go according to pages */
.body-contents{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
}
/* login and signup forms start here */
.login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 15px;
    background-image: url('../img/Video_conf_img.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: fit-content;
    padding: 15px;
    margin-top: 15%;
    color: white;
}

#login-hi{
    align-self: flex-start;
    text-align: center;
}

.login-div form{/*styles apply to both login and logout forms; they share similar classes, exccept that signup has 'signup' class*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 8px;
    border: solid 1px black;
    padding: 15px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
label.pass-hint{/*password container with the pass-cont and pass-hint paragraph*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pass-hint{
    align-self: flex-end;
}

#pass-hint-ul{
    display:flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: flex-end;
    text-align: left;
    /* list-style: none; */
    background-color: rgb(238, 201, 157);
    font-weight: 700;
    color:black;
    width:fit-content;
    padding:5px;
    border-radius:10px;
    line-height: 0.6cm;
}
/* found in the forms to give the forms some nice looks */
form div.opac-bg{
    background: linear-gradient(to right, rgb(black, black, black), white);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width:100%;
    height: 100%;
}

.login-div form >label, .pass-cont/*pass-cont is a container that holds password text and field, in order to enable me align the pass-hint well*/{
    display: flex;
    flex-flow: row wrap;
    place-items: center;
    margin: 8px;
    width: 100%;
    z-index: 100;
}

label>*, .pass-cont>*{
    margin: 5px;
}

.login-div form >label >input, .pass-cont>input{
    padding: 8px;
    width: 80%;
    height: 5%;
    border:none;
    border-radius:10px;
    background-color: rgb(212, 228, 233);
    color: black;
}
.login-div form #login-btn, .login-div form #signup-btn{
    border: none;
    background-color: yellowgreen;
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.login-div form #login-btn:hover, .login-div form #signup-btn:hover{
    background-color: black;
    color: white;
    border:solid 2px yellowgreen;
}

/* footer */
footer, .footer-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: white;
    width: 100%;
    padding:15px;
    /* margin-top: 10%; */
    flex: 1 1 auto;
}

#c-right{
    justify-self: center;
}

/* flash colors */
.error{
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding:5px;
}

.success{
    background-color:rgb(120, 175, 37);
    color: white;
    text-align: center;
    border-radius: 15px;
    padding:5px;
}

.info{
    background-color: rgb(238, 201, 157);
    color:black;
    text-align: center;
    border-radius: 15px;
    padding:5px;
}

/* dashborad stylings here */

.dashboard-cont{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* meeting sector in dashboard */
.meeting-sector{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    position: absolute;
    top: -10px;
    left: 0;
    bottom: 0;
    right: 70%;
    background-color: rgb(20, 20, 20);
    color:white;
    text-align: left;
    width: 20%;
    padding: 17px;
}

.meeting-sector>*{
    margin: 15px;
}
.secs{/*subsectors in the meeting sector, containing recent and upcoming meetings*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#no-meeting{
    color: white;
    cursor:none;
}
.meeting-list{/*a list of all meetings, past and present, by the left side on the dashboard*/
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    list-style-type:square;
    color: rgb(120, 175, 37);
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.meeting-list>*{
    margin: 6px;
}

.recent-list{
    color: bisque;
}

.meeting-action-prompts{/*container for actions against the meetings listed on the dashboard*/
    display: none;
    position: absolute;
    top: 50;
    right: 0;
    left: 0;
    bottom: 50;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.meeting-choice{ /*the input fields for each choice*/
    background-color: rgb(120, 175, 37);
    border:solid 1px white;
    color: white;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

input.delete-meeting{
    background-color: red;
    color: white;
}
#like-to-do{/*container for the meeting action instruction and its icon*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-xmark{
    color:white;
    margin: 5px;
}
#meeting-title{
    font-size: 12px;
}

/* profile info on the dashboard page */
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: flex-start;
    margin-top: -20%;
}
#profile-pic.bdr-50{/*profile picture in profile-info container*/
    width: 70%;
    height: 20%;
    border-radius: 50%;
    border:solid 1px rgb(120, 175, 37);
}
.action-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.action-cont> input[type='button']{
    padding: 7px;
    background-color:rgb(120, 175, 37);
    border-radius: 10px;
    color:white;
    margin: 5px;
    cursor: pointer;
}
/* meeting scheduling form below */
.schedule-meeting{/*form and paragraph container*/
    display:flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 50%;
    height: fit-content;
    background-color:rgb(31, 114, 168);
    justify-content: center;
    /* align-items: flex-start; */
    margin-top: -25%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.8s ease;
}
/* schedule meeting  toggle*/
.toggleScheduleDisplay{
    opacity: 1;
}
.meeting-schedule-form{/*form itself*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 50%;
    height: 100%;
    color: white;
    font-size: 200;
}

#meeting-schedule-form >label{
    display: flex;
    place-items: center;
    width: 100%;
    height: 20%;
    padding: 10px;
    text-align: left;
}

#meeting-schedule-form>label input{
    width: 100%;
    height: 100%; /*automatically translates to 20%, since label has the width of 20%*/
    border-radius: 15px;
    border:none;
}
.schedule-btn{/*the "Schedule Now" button to schedule the meeting*/
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(120, 175, 37);
    color: white;
    /* margin: 9px; */
    cursor: pointer;
}
#meeting-schedule-form >label input:active{
    border:solid 1px rgb(120, 175, 37);
}

/* .animate-click{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: animate-click;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border:solid 2px rgb(31, 114, 168);
    background-color:green
} */

/* animation section */
/* @keyframes animate-click{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
} */
@media screen and (max-width:800px){
    .hamburger{display: flex;
    }

    .nav, .nav-ul{
        display: none;
    }
    .meeting-sector{
        left:-5%;
        width: 30%;
    }
    /* dashboard settings sector */
    /* .meeting-schedule-form{
       
    } */
}